@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/MontserratAlternates-Bold.ttf');
    font-weight: bold;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/MontserratAlternates-Regular.ttf');
    font-weight: regular;
  }
}
@layer components {
  .cardochka {
    @apply rounded-83px shadow-normal;
  }
  /* bg-gradient-to-tr from-primary to-primaryTonesUp */

  .btn{
    @apply rounded-55px bg-primary text-white font-bold py-4 px-8 text-3xl text-center shadow-button duration-500 cursor-pointer;
  }
  .btn:hover{
    @apply bg-white text-primary;
  }
  .btn-inactive{
    @apply rounded-55px bg-white text-primary font-bold py-4 px-8 text-3xl text-center shadow-button duration-500 cursor-default;
  }
  .btn-unavailable{
    @apply rounded-55px bg-[#E0E0E0] text-[#AEAEAE] font-bold py-4 px-8 text-3xl text-center shadow-normal duration-500 cursor-default;
  }

  .btn-small{
    @apply rounded-lg bg-gray-100 text-black font-bold text-xl w-24 py-2 text-center shadow-small duration-500 cursor-pointer;
  }
  .btn-small:hover{
    @apply bg-primary text-white shadow-small-button; 
  }
  .btn-small-inactive{
    @apply rounded-lg bg-primary text-white font-bold w-26 text-xl text-center shadow-small-button duration-500 cursor-pointer;
  }
  .btn-small-unavailable{
    @apply rounded-lg bg-gray-100 text-gray-300 font-bold w-26 text-xl text-center shadow-small duration-500;
  }

  .btn-square{
    @apply rounded-lg bg-white text-black font-bold text-3xl w-[120px] h-[120px] text-center shadow-small duration-500 cursor-pointer;
  }
  .btn-square:hover{
    @apply bg-primary text-white shadow-small-button; 
  }
  .btn-square-inactive{
    @apply rounded-lg bg-primary text-white font-bold w-[120px] h-[120px] text-3xl text-center shadow-small-button duration-500 cursor-pointer;
  }
  .btn-square-unavailable{
    @apply rounded-lg bg-[#E0E0E0] text-[#AEAEAE] font-bold w-[120px] h-[120px] text-3xl text-center shadow-small duration-500;
  }
  .btn-square-inactived{
    @apply rounded-lg bg-primary text-white font-bold w-[120px] h-[120px] text-3xl text-center shadow-small-button duration-500;
  }

  strong{
    @apply font-bold text-primary;
  }
  body *{
    @apply font-montserrat;
  }
  select{
    @apply bg-left-40px;
  }

  .popUpWrapper {
    container-type: size;
  }
  .popUp {
    width: 600px;

    transform-origin: center right;
	  scale: 0;
	  opacity: 0;
	  pointer-events: none;
	  visibility: hidden;
	  transition: scale 0.3s, opacity 0.2s, visibility 0.3s;
  }
  .popUp.active {
    scale: 1;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}
  

  @container (max-height: 730px) {
    .popUp {
      overflow-y: scroll;
      scrollbar-width: thin;
      width: 610px;
    }
    .dateButtons{
      width: 544px !important;
    }
  }

  .eventTitle{
    word-wrap: break-word;
    word-break: break-all;
  }

}